@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

$text-disabled: #707a8a;

.text-disabled {
  color: $text-disabled;
}

.css-xixtsp {
  box-sizing: border-box;
  margin: 0px px;
  min-width: 0px;
  width: 40px;
}

.css-17hpqak {
  box-sizing: border-box;
  margin: 0px 0px 0px 8px;
  min-width: 0px;
  display: flex;
  position: relative;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  line-height: 16px;
  background-color: rgb(252, 213, 53);
  color: rgb(30, 35, 41);
}

.css-17hpqak::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  left: -3px;
  top: 2px;
  border-width: 6px 6px 6px 0px;
  border-left-style: initial;
  border-left-color: initial;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-right-style: solid;
  border-right-color: rgb(252, 213, 53);
}

.css-1g353mx {
  box-sizing: border-box;
  margin: 0px;
  margin-top: 4px;
  min-width: 0px;
  width: 16px;
  height: 16px;
}

.css-wg7atv {
  box-sizing: border-box;
  margin: 0px px 4px 0px 0px;
  min-width: 0px;
  color: rgb(132, 142, 156);
  font-size: 16px;
  fill: rgb(132, 142, 156);
  width: 1em;
  height: 1em;
}

.type-menu {
  position: absolute;
  z-index: 1100;
  transition: height 0.2s ease 0s;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(24, 26, 32, 0.1) 0px 0px 1px, rgba(71, 77, 87, 0.08) 0px 7px 14px, rgba(24, 26, 32, 0.08) 0px 3px 6px;
  border-radius: 4px;
  width: 191.66px;
  height: 228px;
  top: 39px;
  left: -1px;
}
.type-menu-list-container {
  padding: 4px 0px;
    overflow-y: scroll;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.type-menu-list-item {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(201, 148, 0);
  opacity: 1;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1;
}